<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <img class="cat-image px-5" src="assets/our-pics.jpg" alt="Cat Sorry Image">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h4 class="card-title">I'm Sorry</h4>
        <p class="card-text">
            My Love Peining,<br><br>
            I am truly sorry for my mistakes, my love. I know I’ve messed up before, and I deeply regret the pain it may have caused. All I want now is to make things right for us. I’m aware that I am still growing and learning, and I promise that I’m doing my best to be a better person — for you, for myself, and for us.<br><br>
            Thank you for your endless patience and for loving me, despite my flaws. Your love means the world to me, and I am so grateful to have you by my side. I will continue to improve, not just for me, but for us — because you are everything to me.<br><br>
            I love you unconditionally, no matter what, my love. I want nothing more than for you to stay with me, always, and be mine forever. Please, my dear, don’t leave me. Stay with me through everything, no matter what.
          </p>
      </div>
    </div>
</div>